*{
	margin: 0;
}

/*Início ID*/

#topo{
	background-color: turquoise;
	min-height: 150px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Elephant;
	font-size: 30px;
}

#menu{
	background-color: limegreen;
	min-height: 100px;
	text-align: center;
	width: 20%;
}

#conteudo{
	background-color: forestgreen; 
	min-height: 100px;
	text-align: justify;
	width: 80%;
	margin-left: 2%;
	margin-top: 2%;
}
#rodape{
	background-color: #62360A; 
	min-height: 80px;
	text-align:center
}
/*Fim ID*/

/*Início Classe*/

.campo-busca{
	border-radius: 10px;
	border: 2px solid dimgray;
}
.botao-busca{
	color: dimgray;
	border-radius: 10px;
	border: 2px solid dimgray;
}

.item-menu{
	display: block;
	padding-top: 20px;
	padding: 2px;
}
.item-menu:hover{
	display: block;
	padding-top: 20px;
	padding: 2px;
	color:white;
	background-color: forestgreen;
}

.mapa{
	width: 100%;
}

.imagens:hover{
	transform: scale(0.98,0.98);
	border: 3px solid turquoise;
	cursor: pointer;
}
.conteudo-apoiadores{
	text-align: center;
}

.conteudo-informacoes{
	max-width: 70%;
	background-color: forestgreen;
	text-align: justify;
	width:80%;
}
/*Fim Classe*/

/*Início Tag*/
main{
	display: flex;
}

a{
	text-decoration: none;
	color: black;
}

body{
	font-family: Corbel;
	background-color: forestgreen;
}

/*Fim Tag*/